input, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
 }
 button {
     background-color: #673ab7;
     border-radius: 5px;
     color:white;
     width: 20%;
 }
 h4{
     text-align: center;
 }
 